@model IEnumerable<GymHub.Models.Exercises>
@{
    ViewData["Title"] = "Exercises 🏃‍♀️";
}

<h2>Exercises</h2>

<p>
    <a class="btn btn-success" asp-action="ExerciseCreate">+ Create Exercise</a>
    <a asp-controller="Admin" asp-action="Dashboard" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Back to Dashboard
    </a>

</p>

<form method="get" class="mb-3">
    <div class="input-group">
        <input type="text"
               class="form-control"
               name="search"
               value="@ViewData["Search"]"
               placeholder="Search by name..." />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
          
            <th>Name</th>
            <th>Muscle Group</th>
            <th>Equipment</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
              
                <td>@x.Name</td>
                <td>@x.PrimaryMuscleGroup</td>
                <td>@x.Equipment</td>
                <td class="text-end">
                    <a class="btn btn-sm btn-warning" asp-action="ExerciseEdit" asp-route-id="@x.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="ExerciseDelete" asp-route-id="@x.Id">Delete</a>
                    <a asp-action="ExerciseDetails" asp-route-id="@x.Id" class="btn btn-info btn-sm">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
