@model IEnumerable<NutritionPlan>
@{
    ViewData["Title"] = "Nutrition Plan 🍲";
  
}

<h2>Nutrition Plan  </h2>

<p>
    <a class="btn btn-success" asp-action="NutritionPlanCreate"> + Create Template</a>
    <a asp-controller="Admin" asp-action="Dashboard" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Back to Dashboard
    </a>
</p>
<form method="get" class="mb-3">
    <div class="input-group">
        <input type="text"
               class="form-control"
               name="search"
               value="@ViewData["Search"]"
               placeholder="Search by name..." />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Calories</th>
            <th>Protein</th>
            <th> Carbs</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Title</td>
                <td>@p.TotalCaloriesPerDay</td>
                <td>@p.ProteinGrams</td>
                <td>@p.CarbsGrams</td>
                <td class="text-end">
                    <a class="btn btn-sm btn-warning" asp-action="NutritionPlanEdit" asp-route-id="@p.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="NutritionPlanDelete" asp-route-id="@p.Id">Delete</a>
                    <a asp-action="NutritionPlanDetails" asp-route-id="@p.Id" class="btn btn-info btn-sm">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
